// app global css in Sass form
body
  background-image: url('background.webp')
  background-color: #333477
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  // background: radial-gradient(circle, #ff73d5 5%, #00a2ff 100%)
  // background: linear-gradient(62deg, #8EC5FC 72%, #E0C3FC 100%)
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
  // background-size: 100% 140%

  // animation: gradient 5s ease infinite
  // height: 100vh

@keyframes gradient
  0%
    background-position: 0% 50%

  50%
    background-position: 100% 50%

  100%
    background-position: 0% 50%

p
  font-size: 15px
  margin-bottom: 0px
h1
  font-size: 35px
  margin: 0px
  font-family: Poppins
h2
  font-size: 30px
  margin: 0px
  font-family: Poppins
h3
  font-size: 25px
  margin: 0px
  margin-bottom: 0px
  font-family: Poppins
  line-height: normal
h4
  margin-top: 0px
  margin-bottom: 0px
  font-size: 22px
  font-family: Poppins
h5
  margin-top: 0px
  margin-bottom: 0px
  font-size: 18px
  font-weight: 500
  font-family: Poppins
h6
  margin: 0px
  font-size: 14px
  font-weight: 300
  font-family: Poppins

.pwinput
  font-size: 40px
.greenMsg
  color: $green
.redMsg
  color: $red
.outlined
  outline: 1.4px solid rgba(0, 0, 0, 0.12)
.q-card--bordered
  // outline: 2px solid $pink-2
  // outline-style: linear-gradient(to bottom, $pink-2,rgba(0, 0, 0, 0)) 1 100%
  // border-width: 3px
  // border-style: solid
.q-separator--horizontal
  height: 2px
  background-color: rgba(0, 0, 0, 0.12)
.q-card
  border-radius: 26px
  // box-shadow: 0px 1px 15px $grey-4 !important
  backdrop-filter: blur(25px)
  background-color: rgba(255, 255, 255, 0.25)

.q-btn
  // border: .1px solid #027be3
  // border-radius: 18px
  outline: none
  // border: 2px solid $grey-5
  background-color: rgba(1,1,1,.5)
  color: white
.q-item
  // background-color: rgba(1,1,1,.5)
  color: white
.q-list
  background-color: rgba(1,1,1,.1)
.centered
  justify-content: center
  display: flex
  flex-wrap: wrap
.header-art
  background: url('ui/header.webp')
  background-size: cover
  color: white
.toggle
  border: 2px solid #027be3

body.body--dark
  background: #1a3d67
.q-tab__label
  font-size: 13px
.q-btn
  font-size: 13px
.q-menu
  background-color: rgba(1, 1, 1, .7)

@font-face
  font-family: BwNista-Regular
  src: url(fonts/BwNista-Regular.otf)
@font-face
  font-family: BwNista-Light
  src: url(fonts/BwNista-Light.otf)
@font-face
  font-family: BwNista-Bold
  src: url(fonts/BwNista-Bold.otf)
@font-face
  font-family: Poppins
  src: url(fonts/Poppins-Regular.ttf)

.bridge-box
  background: linear-gradient(90deg, rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,.3) 100% )
  border-radius: 8px
.warn-box
  background: linear-gradient(90deg, rgba($amber, 0.4) 0%,rgba(0,0,0,0) 50%,rgba($amber,.4) 100% )
  border-radius: 8px

.outline-box
  border: 2px solid rgba($blue-4,.4)
  border-radius: 8px

  .q-field__input
    color: $pink
